@import "reset.css";
@import "valiables.css";
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap");
/* components */
@import "components/body-header.css";
@import "components/status-bar.css";
@import "screens/no-mobile.css";
@import "components/profile-thumbnail.css";

/* global element */
* {
  box-sizing: border-box;
}

body {
  font-family: "Black Han Sans", sans-serif;
  scrollbar-width: none;
}

main {
  font-family: "Do Hyeon", sans-serif;
}
