@import "reset.css";
@import "valiables.css";
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap");
/* components */
@import "components/body-header.css";
@import "components/status-bar.css";
@import "screens/no-mobile.css";
@import "components/profile-thumbnail.css";
@import "components/bottom-tabbar.css";
@import "components/gnb.css";
@import "components/badge.css";
@import "components/user-component.css";
@import "components/catergory.css";
@import "components/menu.css";
@import "components/open-chat.css";
/* screens */
@import "screens/friends.css";
@import "screens/find.css";
/* global element */
* {
  box-sizing: border-box;
}

body {
  font-family: "Black Han Sans", sans-serif;
  letter-spacing: 0.5px;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
}

main {
  padding: var(--horizontal-space);
  height: calc(100vh - 56px - 21px - 54px);
  background: linear-gradient(var(--main), #202458);
  overflow-x: auto;
}

main::-webkit-scrollbar {
  width: 0;
}

main,
.badge__number {
  font-family: "Do Hyeon", sans-serif;
}

button,
.user-component--1x,
.user-component--2x,
.user-component--3x {
  cursor: pointer;
}
