.chat-screen{
    background-color: #ABC1D1;
    height: 1000vh;
}

.chat-screen>.main-content{
    padding: 0px 8px !important;
}

.chat-date{
    padding: 15px 0px;
    text-align: center;
}

.chat-date__text{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 30px;
    color:rgba(255, 255, 255, 0.7); 
    font-size: 12px;   
}

.body-header--chat-bg{
    background-color: #ABC1D1;
}

/* 입력창 */

.write-message{
    box-sizing: border-box;
    position: fixed;
    display: flex;
    padding: 6px 12px;
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.write-message__left{
    width: 27px;
    height: 100%;
    margin-right: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    color: var(--text-info-light);
}

.write-message__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--btn-disabled);
    border: 1px solid var(--border-nav);
    border-radius: 30px;
}

.write-message__right input{
    padding-left: 14px;
}

.write-message__right input::placeholder{
    color: var(--text-input-placeholder);
}

.write-message__right-column{
    display: flex;
    align-items: center;
}

.write-message__emoticon,
.write-message__send{
    width: 30px;
    height: 30px;
}

.write-message__emoticon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-info-light);
    margin-right: 9px;
}

.write-message__send{
    border-radius: 50%;
    background-color: var(--main);
    color: var(--text-btn-normal);
    margin-right: 5px;
}

