.welcome-header {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.welcome-header__title {
    color: var(--text-title);
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: normal;
}

.welcome-header__sub {
    color: var(--text-title-sub);
    font-size: 18px;
    line-height: 1.3;
}

#login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 30px;
}

#login-form input[type="text"],
input[type="password"] {
    height: 55px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid var(--text-input-placeholder);
    border-color: var(--border-input);
    transition: border-color 0.3s ease-in-out;
}

#login-form input:focus {
    border-color: var(--text-title);
}

#login-form input::placeholder {
    color: var(--text-input-placeholder);
}

#login-form input[type="password"] {
    margin-bottom: 40px;
}

#login-form [type="submit"] {
    margin-bottom: 15px;
    height: 55px;
    border: none;
    border-radius: 5px;
    background-color: var(--btn-main-normal);
    font-size: 18px;
    color: var(--text-btn-normal);
    cursor: pointer;
}

#login-form [type="submit"]:active {
    background-color: var(--btn-main-pressed);
}

#login-form a:last-child {
    margin-top: 10px;
    color: #2f2f2f;
    font-size: 16px;
}

.sign-up__btn {
    margin-bottom: 15px;
    height: 55px;
    border-radius: 5px;
    background-color: var(--btn-main-normal);
    font-size: 18px;
    color: var(--text-btn-normal);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up__btn:active {
    background-color: var(--btn-main-pressed);
}


