.kokoa-app header{
    font-size: 14px;
    color: var(--text-btn-normal);
    margin-top: 21px;
}

.kokoa-app ul{
    display: flex;
    justify-content: space-between;
}

.kokoa-app__list:last-of-type a{
    background-color: white;
}
