.category {
  background-color: var(--no-color);
  width: 100%;
  height: 50px;
  border-top: var(--border-normal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-pupple);
  font-size: 15px;
}
.category i {
  color: var(--pupple-5);
  font-size: 12px;
  margin-left: 5px;
}

.category__sub-text {
  color: var(--pupple-5);
}
