.get-message{
    display: flex;
    height: auto;
    margin-bottom: 15px;
}

.get-message__column:last-of-type{
    padding-top: 2px;
    margin-left: 6px;
}

.get-message__chat{
    display: flex;
    align-items: flex-end;
    margin-top: 6px;
}

.get-message__nickname{
    font-size: 12px;
    color: var(--text-title-sub);
}

.get-message__chat-content{
    background-color: white;
    border-radius: 13px;
    border-top-left-radius: 2px;
    padding: 8px 10px;
    color: var(--text-btn-normal);
    font-size: 16px;
}

.get-message__chat-time{
    font-size: 11px;
    margin-left: 6px;
    color: var(--text-title-sub);
    padding-bottom: 2px;
}