.gnb {
  width: 100%;
  height: 56px;
  background-color: var(--main);
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px 0px 18px;
}

.gnb__column:last-child {
  display: flex;
  height: 100%;
}

.gnb__column button {
  width: 34px;
  height: 100%;
  background-color: var(--no-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

.gnb__column svg {
  width: 20px;
  height: 20px;
}

.gnb__icon {
  fill: white;
}

.gnb__column button:last-child {
  position: relative;
}

#icon_chat_plus {
  stroke: white;
}

#icon_music,
#icon_music_3 {
  width: 10px;
  height: 10px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

#icon_music {
  top: 5px;
  right: 0px;
}

#icon_music_3 {
  top: 15px;
  left: 0px;
}

.gnb__interaction {
  position: relative;
}
.gnb__interaction:hover #icon_music,
.gnb__interaction:hover #icon_music_3 {
  will-change: inherit;
  animation: music-hovering 1s ease-in-out infinite;
  opacity: 1;
}

@keyframes music-hovering {
  0% {
    transform: translateY();
    transform: rotateZ(-10deg);
  }
  50% {
    transform: translateY(-3px);
    transform: rotateZ(5deg);
  }
  100% {
    transform: translateY();
    transform: rotateZ(-10deg);
  }
}
