.open-chat-list,
.open-chat-list__left,
.open-chat-list__right{
    display: flex;
    
}
.open-chat-list{
    justify-content: space-between;
    height: 110px;
    border-top: 1px solid var(--border-nav);
}

.open-chat-list__left,
.open-chat-list__right{
    flex-direction: column;
    justify-content: center;
}

.open-chat-list__info{
    display: flex;
    align-items: center;
}

.open-chat-list__hashtag{
    font-size: 16px;
    color: var(--text-info-light);
    margin: 8px 0px;
}

.open-chat-list__members,
.open-chat-list__state{
    font-size: 13px;
    margin-left: 5px;
    color: var(--text-input-placeholder);
}

.open-chat-list__state{
    padding-left: 5px;
    border-left: 1px solid var(--text-input-placeholder);
    color: var(--pink);
}

.open-chat-list__thumbnail-like,
.open-chat-list__thumbnail{
    position: relative;
    width: 82px;
    height: 82px;
    border-radius: 10%;
}

.open-chat-list__like{
    position: absolute;
    font-size: 11px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px 8px;
    border-radius: 45px;
    right: 7px;
    bottom: 5px;
    z-index: 1;
}

.open-chat-list:first-of-type{
    border: none;
    margin-top: -10px;
}