.profile--1x {
  width: 40px;
  height: 40px;
}

.profile--2x {
  width: 48px;
  height: 48px;
}

.profile--3x {
  width: 56px;
  height: 56px;
}

.profile--tiny {
  width: 20px;
  height: 20px;
}

.profile-mask {
  mask: url(profile__mask.svg);
  -webkit-mask: url(profile__mask.svg);
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: cover;
  -webkit-mask-size: cover;
  width: 100%;
  height: 100%;
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
