.screen-header {
    padding: 0px 4px 0px 18px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.header__title {
    font-size: 26px;
    color: var(--text_title);
    font-weight: 500;
}

.header__icons {
    height: 100%;
    color: var(--icon-nav-default);
    display: flex;
    justify-content: center;
    align-content: center;
}

.header__icons>button {
    width: 45px;
    height: 100%;
    background-color: white;
    cursor: pointer;
}