.user-component--3x,
.user-component--2x,
.user-component--1x {
  width: 100%;
  background-color: var(--no-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user-component--3x {
  height: 76px;
}

.user-component--1x {
  height: 60px;
}

.user-component__content--1x,
.user-component__content--2x,
.user-component__content--3x {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}

.user-component__content--3x {
  width: calc(100% - 56px - 15px);
}
.user-component__content--2x {
  width: calc(100% - 48px - 15px);
}
.user-component__content--1x {
  width: calc(100% - 40px - 15px);
}

.user__text {
  display: flex;
  flex-direction: column;
}
.user__nickname {
  font-size: 20px;
  color: white;
}

.user__message {
  font-size: 16px;
  color: var(--sub-pupple);
  margin-top: 5px;
}

.user__subinfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.user__sub-text {
  font-size: 12px;
  color: rgba(128, 129, 197, 0.479);
}
