.user-component {
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-component,
.user-component__left,
.user-component__right {
    display: flex;
    align-items: center;
}

.user-component__right--column {
    flex-direction: column;
    align-items: flex-end;
}

.user-component__right>svg,
.user-component__right-text {
    margin-left: 4px;
    color: var(--text-input-placeholder);
}

.user-component__right-badge {
    margin-top: 6px;
}

/* 오른쪽 텍스트 크기 스타일 */
.user-component__right-text {
    font-size: 14px;
}

.user-component__right-text--sm {
    font-size: 12px;
}

/* 프로필사진 크기 스타일 */
.user-component__avatar {
    border-radius: 40%;
    width: 50px;
    height: 50px;
}

.user-component__avatar--la {
    width: 60px;
    height: 60px;
}

.user-component__avatar--sm {
    width: 45px;
    height: 45px;
}

.user-component__avatar--chat {
    width: 35px;
    height: 35px;
}

.user-component__avatar--xs {
    width: 18px;
    height: 18px;
}

.user-component__text {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}

.user-component__sub {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--text-title-sub);
    margin-top: 6px;
}

/* 닉네임 크기 스타일 */
.user-component__nickname {
    font-size: 18px;
    color: var(--text-btn-normal);
    font-weight: 500;
}

.user-component__nickname--light {
    font-size: 16px;
    font-weight: 400;
}

.user-component__sub svg {
    width: 13px;
    height: 13px;
    color: tomato;
    margin-left: 6px;
}

.user-component__right--column svg{
    color: var(--text-btn-normal);
}